body {
    background-color: cadetblue;
}

.navbar {
    margin-bottom: 1em;
}

.fullPage, #projectsPage {
    width: 85%;
}

#projectsPage {
    min-height: 550px;
}

#footer {
    text-align: center;

}
