/* 
html {
    height: 100%;
    margin: 0;
    padding: 0;
} */

body {
    background-color: cadetblue;
    margin: 0px;
    min-height: 100vh;
    width: 100%;
    height: 100vh;
 }

.container {
    padding-top: 4em;
    /* height: 100%;
    width: 100%;  */
}

#projectsPage {
    min-height: 550px;
   
}

.fullPage {
    min-height: vh;
}

/* #mainDiv {
    height: 100%;
    margin-bottom: auto; */
/* } */