// font-family: 'Raleway', sans-serif;
// font-family: 'Berkshire Swash', cursive;
@import "~bootstrap/scss/bootstrap";


body {
    background-color: cadetblue;
    background-image: url(https://images.unsplash.com/photo-1564934304256-db564bb2568d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
    padding: 0;
    min-height: 100vh;
    width: 100%;
    height: 100vh;
    font-family: 'Raleway', sans-serif;
    color: rgb(173, 85, 27);
    font-size: 20px;
 }

 nav {
    background-color: rgb(0, 66, 66);
    box-shadow: 5px 5px 5px black;
}

h4, h3, .navbar-brand {
    font-family: 'Berkshire Swash', cursive;
    color: white;
}

 a {
     color: rgb(23, 62, 74);
 }

 a:hover {
     color: rgb(47, 5, 115);
 }

#page-container {
    padding: 7em 10em 0 10em;
    flex-grow: 2;
    background-color: rgba(58, 58, 58, 0.7);
}

#projectsPage {
    min-height: 550px;
   
}

#mainDiv {
    min-height: 100%;
}

.project-card {
    box-shadow: 5px 5px 5px darkslategray;
}

